*{
 margin:0;
 padding:0;
}

#nav{
    background-color: #C0E5A3;
}

#footer{
    background-color: #C0E5A3; 
}


#name{
    /* background: linear-gradient(112deg, #FFFFFF 50%,#C0E5A3  50%); */
    border: 3px solid #f1f1f1;
    position: relative;
    top: 15%;
    left: 10%;
    width: 80%;
    padding: 20px;
    
}

#logo{
    width:50px;

}

/* #whatWeDo{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: 15%;
    left: 10%;
    width: 80%;
    padding: 20px;
    text-align: center;
} */

#missionImg{
    text-align: center;
    float: right;
    
}
#historyImg{
  float:inline-start;
  width:30%; 
  padding-right: 30px;
}
#homeImg{
    width:55%;
}