*{
 margin:0;
 padding:0;
}

#nav{
    background-color: lightslategrey;
}

#footer{
    background-color: lightgrey; 
}


#name{
    /* background: linear-gradient(112deg, #FFFFFF 50%, lightgrey  50%); */
    border: 3px solid #f1f1f1;
    margin-top:8%;
    margin-left:10%;
    width: 80%;
    padding: 20px;
    box-shadow:  0 0 5px white, 0 0 10px white, 0 0 15px white;
    
}

/* .body1{
    /* background-image: url("https://i.postimg.cc/2jBSng5d/img1.jpg"); */
    /* background: linear-gradient(50deg, #F5FFFA 50%, lightgrey  50%); */
    /* background-color:#F5FFFA;  */
/* } */

#logo{
    width:55px;
    

}

#missionImg{
    text-align: center;
    float: right;
    
}
#historyImg{
  float:inline-start;
  width:30%; 
  padding-right: 30px;
}
#homeImg{
    width:55%;
}
#img3{
    width:40%;
}
#img5{
    width:40%;
    height:55vh;
}
/* #carouselExampleAutoplaying{
    padding-top:1%;
    
} */
#img{
 float: left;
 padding:5px;
}
#btnAdd{
  border-radius: 20px;
}
#img-table{
   width:50px;
    
}
.table{
    /* max-width: fit-content; */
    width: 50%;
}

#logoH {
    width: 25px;
    height: 30px;
    padding: 2px;
    mix-blend-mode: multiply;
    transition: transform 0.3s;
  } 
 #logoH:hover{
      transform: scale(1.2);
    }

.homeImg{
    width: 100%;
}    
#contHome{
    justify-content:center;
    
}
